<!doctype html>
<html lang="en">

<!-- HEAD -->

<head>
    <%- include(`${__path.views_index}/elements/head`) %>
</head>

<body class="bg-light-blue">
    <!-- NAVBAR -->
    <!-- 
    <%- include(`${__path.views_index}/elements/navbar`) %>
     -->

    <!-- CONTENT -->
    <div class="container mt-3">
        <!-- MAIN CONTENT -->
        <%- body %>
    </div>

    <!-- SCRIPTS -->
    <%- include(`${__path.views_index}/elements/scripts`) %>
</body>
</html>