<!-- PAGE TITLE -->
<div class="row">
    <h3 class="col-12">Raw books</h3>
</div>

<!-- CONTENT -->
<div class="row">
    <!-- URL INPUT -->
    <div class="col-12">
        <form method="post" action="/">
            <div class="form-group">
                <input type="text" class="form-control" name="url"  placeholder="Type url">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <!-- RESULT -->
    <div class="col-12">
        <h4>Result</h4>
        <div class="form-group">
            <textarea class="form-control" name="" id="" rows="10"></textarea>
        </div>
    </div>
</div>