<div class="col-12">

    <!-- PROGRESS BAR & MESSAGE -->
    <div class="mb-3">
        <div id="progress-bar-container" class="progress d-none">
            <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="26" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <span id="message" class="d-none badge badge-success">10 items added</span>
    </div>

    <!-- SAVED DATA AREA -->
    <div id="result-area-container" class="form-group d-none">
        <!-- SAVED JSON -->
        <h5>Saved data</h5>
        <div>
            <textarea id="result-area" class="form-control" rows="6"> </textarea>
            <button id="copy-btn" class="btn-secondary btn btn-sm mt-1 float-right">Copy</button>
        </div>
    </div>
</div>